* eol=lf working-tree-encoding=UTF-8 encoding=UTF-8
[attr]omsi text eol=crlf working-tree-encoding=CP1252 encoding=CP1252 -linguist-detectable

# Model Source Files
*.blend binary
*.x text eol=crlf working-tree-encoding=CP1252 encoding=CP1252 linguist-language=DirectX-3D-File linguist-generated

# Texture Source Files
*.pdn binary

# Model Files
*.o3d binary

# Texture Files
*.bmp binary
*.dds binary
*.tga binary
*.surf binary

# Script Files
*.osc omsi
*.txt omsi

# Config Files
*.cfg omsi
*.cti omsi
*.oft omsi
*.sco omsi
*.sli omsi

# Repository Files
LICENSE text
README.md text
README.txt text eol=crlf
.gitignore text
.gitattributes text
